.location-weather {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  
    &__title {
      font-size: 1.25rem;
      font-weight: 700;
      margin-bottom: 0.5rem;
    }
  
    &__detail {
      margin-bottom: 0.25rem;
  
      &:last-child {
        margin-bottom: 0;
      }
  
      &-label {
        font-weight: 600;
      }
    }
  }